#container-main {
  position: relative;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  width: 90vw;
  height: 18rem;
  font-size: 40px;
  border-radius: 10px;
}
