@import "../../SCSS/index.scss";

#container-titulo-contacto {
  @include container(90vw, 18rem);
  position: relative;
  top: 90px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url("../../assets/backo.png");
  //background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
