@import "../../SCSS/index.scss";

#container-titulo-portafolio {
  @include container(90vw, 18rem);
  position: relative;
  top: 90px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
